*{
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    font-family: 'Inter', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    margin: 1em 0em;
    font-weight: 700;
}

.dark-blue{
    color: #1B4965;
}

.light-blue{
    color: #5FA8D3;
}

.play-logo{
    margin-right: 0.2em;
}

.user-input{
    padding: 1em;
    border: 3px solid #1B4965;
    margin-right: 0.5em;
    width: 75%;

}



.selection{
    padding: 1em 4em;
    border: 3px solid #1B4965;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 93% !important;
}

.input-area{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 450px;
}

.selection-area{
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%;
}

button{
    background-color: #5FA8D3;
    border: 3px solid #1B4965;
    padding: 1em;
}

.options{
    margin-bottom: 1em;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    color: #1B4965;
    margin-top: 1.2em;
    text-align: center;
}

.video-options{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    width: 100%;
    gap: 1em;
    max-width: 997px;
    margin-top: 1em;
}

.movie-element{
  color: #fff;
  border: 1px solid #fff;
}

.videos-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em  1em;
}

.video-thumbnail{
    width: 100%;
}
h3{
    margin-top: 0.5em;
    font-weight: 600;
    font-size: 1.2rem;
    color: #282828;
    line-height: 1.3;
}

@media screen and (min-width:700px) {
    .selection-area{
        flex-direction: row;
        justify-content: center;
    }

    .selection{
        padding: 1.45em 3.2em;
        position: relative;
        right: -1.3em;
    }
    .options{
        margin-bottom: 0em;
    }

    .video-options{
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
        padding: 0em;
    }
}

@media screen and (min-width:653px) and (max-width:1023px) {
    .video-thumbnail{
      height: 220px;
    }
}



