*{
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    font-family: 'Inter', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    margin: 1em 0em;
    font-weight: 700;
}

.dark-blue{
    color: #1B4965;
}

.light-blue{
    color: #5FA8D3;
}

.play-logo{
    margin-right: 0.2em;
}

.user-input{
    padding: 1em;
    border: 3px solid #1B4965;
    margin-right: 0.5em;
    width: 75%;

}

.input-area{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 450px;
}

.selection-area{
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%;
}

button{
    background-color: #5FA8D3;
    border: 3px solid #1B4965;
    padding: 1em;
}



